h1 {
    color:red;
    font-size: 32px;
    } 
    * {
        font-size: 22px;
       } 
h2 {color: red;
    font-size: 28px;
}
h3 {color: red;
    font-size: 28px; 
}
p {
    color:rgb(12, 238, 208);
}

.makepurple {
    color:rgb(19, 255, 19);
}
.changeme {
    color: rgb(21, 255, 21);
}
body {background-image: url(chakra.jpg);
}
a:link, a:visited {
    color: rgb(31, 255, 31);
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }